.ser_cont{
    width: 100%;
    margin: auto;
    
padding:1rem 0;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.Single_cont{
  border-radius: 10px;
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 0.5s ease, transform 0.5s ease;
    margin: auto;
    margin-bottom: 1rem;
    width: 269px;
    margin-left: -0.01rem;
    height: 316px;
   
    background-color: #fff;
transition: background-color 0.3s ease-in-out;
}
.Single_cont.slide-up{
  transform: translateY(0);
  opacity: 1;
}
.vector {
    width: 47px;
    height: 47px;
    margin: 30% 0 0 9%;
  }
  .title{
    
    flex-grow: 0;
   
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 0.25px;
    text-align: left;
    color: #070710;
  }
  .desc{
    
    font-size: 14px;
  font-weight: 400;
  font-family: poppins;
  font-stretch: normal;
  font-style: normal;
  margin-left: 24px;
  
  line-height: 1.75;
  letter-spacing: 0.25px;
  text-align: left;
  color: rgba(3, 3, 3, 0.7);
  }
  .Single_cont:hover{
    background-color: #fcb131;
  }

  @media (max-width: 768px) {
    .ser_cont{
        display: none;
        
    }
    .ser_cont_sm {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }
  
    .Single_cont {
      scroll-snap-align: start;
      flex: 0 0 auto;
    }
  }
  