.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  border-top-left-radius:30px ;
  border-bottom-left-radius:30px ;
  bottom: 0;
  z-index: 50;
  background-color: #dd8e05;
  width: 75%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}
